extends layout.pug

    block title
        title moneyBox

    block content
        div.row
            div.col-12.col-md-6.col-xl-3
                h2 Дивидендная доходность
            div.col-12.col-md-6.col-xl-3
                h2 Дивидендная стабильность
            div.col-12.col-md-6.col-xl-3
                h2 Падения месяца
            div.col-12.col-md-6.col-xl-3
                h2 Рост месяца
        
        div.row
            div.col-12.col-md-6.col-xl-3
                table.table.table-sm
                    thead
                        tr
                            th Тикер
                            th.text-end Yield-5Y
                            th.text-end DSI
                    tbody
                        each $item in TopY
                            tr 
                                td
                                    a[href=$item.Ticker] #{$item.Descr}
                                td.text-end #{$item.V}
                                td.text-end #{$item.V1}

            div.col-12.col-md-6.col-xl-3
                table.table.table-sm
                    thead
                        tr
                            th Тикер
                            th.text-end DSI
                            th.text-end Yield-5Y
                    tbody
                        each $item in TopDSI
                            tr 
                                td
                                    a[href=$item.Ticker] #{$item.Descr}
                                td.text-end #{$item.V}
                                td.text-end #{$item.V1}

            div.col-12.col-md-6.col-xl-3
                table.table.table-sm
                    thead
                        tr
                            th Тикер
                            th.text-end % изменения
                    tbody
                        each $item in TopFallen
                            tr 
                                td
                                    a[href=$item.Ticker] #{$item.Descr}
                                td.text-end #{$item.V}

            div.col-12.col-md-6.col-xl-3
                table.table.table-sm
                    thead
                        tr
                            th Тикер
                            th.text-end % изменения
                    tbody
                        each $item in TopRaise
                            tr 
                                td
                                    a[href=$item.Ticker] #{$item.Descr}
                                td.text-end #{$item.V}
